# Database
DB_USER=
DB_PASSWORD=
DB_NAME=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# App (para user-secrets no desenvolvimento)
# ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=blog_plantas;Username=postgres;Password=postgres
# Jwt__SecretKey=
# Jwt__Issuer=
# Jwt__Audience=
# Jwt__Expiration=
